<%- include("head.ejs") %>
  <p class="d-none" id="todos">
    <%=JSON.stringify(todos)%>
  </p>
  <section class="w-100 hv-100 d-flex flex-column align-items-between">
    <div class="container h-100 d-flex flex-column justify-content-center">
      <h1 class="text-center py-4">Todos</h1>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create Todo
      </button>
      <ul class="w-100">
        <% todos.forEach(todo=> { %>
          <li class="mb-2 w-100">
            <div class="card text-center">
              <div class="card-header <%= todo.completed ? 'text-muted' : '' %>">
                <%= todo.title %>
              </div>
              <div class="card-body">
                <p>
                  <%=todo.description%>
                </p>
                <a href="/todos/delete/<%=todo.id%>" class="btn btn-danger">Delete</a>
                <button class="btn btn-warning update-todo" data-bs-target="#exampleModalUpdate" data-bs-toggle="modal"
                  data-todo-id="<%=todo.id%>">Update</button>
              </div>
              <div class="card-footer text-muted">
                <%=todo.createdAt%>
              </div>
            </div>
          </li>
          <% }) %>
      </ul>
    </div>
  </section>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New Todo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/todos" method="POST">
            <div class="form-floating mb-3">
              <input type="text" name="title" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" name="description" placeholder="Leave a comment here"
                id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Description</label>
            </div>
            <br>
            <button class="btn btn-success" type="submit">Create</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalUpdate" tabindex="-1" aria-labelledby="exampleModalUpdateLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Todo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
              <input type="text" name="title" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Title</label>
            </div>
            <div class="form-floating mb-3">
              <textarea class="form-control" name="description" placeholder="Leave a comment here"
                id="floatingTextarea"></textarea>
              <label for="floatingTextarea">Description</label>
            </div>
            <div class="form-floating">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option value="yes">Ha</option>
                <option value="no">Yo'q</option>
              </select>
              <label for="floatingSelect">Bajarilganmi?</label>
            </div>
            <br>
            <button class="btn btn-warning" type="submit">Update</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const todos = JSON.parse(document.querySelector("p#todos").textContent)
    const updateBtns = document.querySelectorAll("button.update-todo");
    updateBtns.forEach(btn => {
      btn.addEventListener("click", e => {
        const id = e.target.dataset.todoId - 0;
        const todo = todos.find(el => el.id === id);

        document.querySelector("#exampleModalUpdate").querySelector("form").dataset.todoId = id;

        document.querySelector("#exampleModalUpdate").querySelector("input[name='title']").value = todo.title

        document.querySelector("#exampleModalUpdate").querySelector("textarea").value = todo.description

        document.querySelector("#exampleModalUpdate").querySelector("select").value = todo.completed ? 'yes' : 'no'
      })
    })

    document.querySelector("#exampleModalUpdate").querySelector("form").addEventListener("submit", async e => {
      e.preventDefault();
      const id = e.target.dataset.todoId;

      const title = document.querySelector("#exampleModalUpdate").querySelector("input").value;
      const description = document.querySelector("#exampleModalUpdate").querySelector("textarea").value;
      const completed = document.querySelector("#exampleModalUpdate").querySelector("select").value === "yes" ? true : false;
      console.log({
        title,
        description,
        completed
      })
      const response = await fetch(`/todos/${id}`, {
        method: "PATCH",
        body: JSON.stringify({
          title,
          description,
          completed
        }),
        headers: {
          "Content-Type": "application/json"
        }
      });

      if (response.ok) {
        window.location.reload()
      }
    })
  </script>
  <%- include("footer.ejs") %>